@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

/* Make native calendar icons white on dark inputs */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}
